<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
  </head>
  <body>
    
    <div class="message_holder"></div>
    <form action="" method="POST">
      <input type="hidden" class="username" value="{{ session['user'] }}"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit"/>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      let username = '{{ session['user'] }}';

      socket.on( 'connect', function() {
        socket.emit( 'my event', {
            data: 'User Connected'
        })
                
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          username = $( 'input.username' ).val();
          let message = $( 'input.message' ).val();
            socket.emit( 'my event', {
                user_name : username,
                message : message
            })
            $( 'input.message' ).val( '' ).focus()
        })
      })

      socket.on( 'my response', function( msg ) {
        if( typeof msg.user_name !== 'undefined' ) {         
          if(msg.user_name==username || ( msg.user_name=='Admin' && msg.reciever==username) ){
            $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
          }          
        }
      })
    </script>

  </body>
  </html>