
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> 	<html lang="en"> <!--<![endif]-->
<head>

	<!-- General Metas -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	<!-- Force Latest IE rendering engine -->
	<title>Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	
	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/skeleton.css" />
	<link rel="stylesheet" href="css/layout.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	
</head>
<body>

	
	<!-- Primary Page Layout -->
	<div class="container">
	<div class="report-panel">&nbsp;</div>
		<div class="form-bg">
			<form method="POST" action="" style="margin:0;">
				<!--<div class="login-title"><h2>Login</h2></div>
				<p><input type="text" name="report_user" placeholder="Username"></p>
				<p><input type="password" name="report_pass" placeholder="Password"></p>
				<button name="report_login" type="submit"></button>-->
                
                <div class="login-title" style="text-align: center; font-weight: 900;">Postback Reciever Panel<br/></div>
                <div class="input-field">
                <table cellpadding="0" cellspacing="0" border="0">
                   <tbody>
                       <tr>
                            <td>Username:&nbsp;</td>
                        </tr>
                        <tr>
                            <td><input class="flat" type="text" name="report_user" ></td>
                        </tr>
                       <tr>
                            <td style="padding-top:10px;">Password:&nbsp;</td>
                        </tr>
                        <tr>
                            <td><input class="flat" type="password" name="report_pass" ></td>
                        </tr>
                	</tbody>
                </table>
                </div>
                <div class="login-footer">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tbody><tr>
                        <td><input type="submit" name="report_login" class="subbutton" id="login" value="Login" tabindex="3">
                        </td>
                    </tr>
                </tbody></table>
                </div>
			<form>
		</div>
		<div class="footer-tagline">Proud to be backed up with Revive Adserver</div>
	</div><!-- container -->
	
<!-- End Document -->
</body>
</html>