


<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
  </head>
  <body>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
      
        socket.on( 'connect', function() {            

            
        });
        
        socket.on('room', function(room) {
          console.log('room');
            socket.join_room(room);
        });

        room = "abc123";
        socket.emit( 'message', room=room, {
            data: 'what is going on, party people?'
        })  
    
    </script>

  </body>
  </html>